.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;
  color: rgb(255, 255, 255);
  padding: 1rem 4rem;
}

.main-nav h1 {
  margin: 0;
  font-size: 1.75rem;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;  
}

.main-nav ul li {
  width: fit-content;
  height: 100%;
  margin: 0 0.75rem;
}

.main-nav ul li button {
  height: 100%;
  background-color: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
}

.main-nav ul li button:hover,
.main-nav ul li button:active {
  color: navy;
}